.about .about_title{
    text-align: center;
    display: block;
    font-size:x-large;
    color: #ededed;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.about .about_line{
    color: #ededed;
    text-align: left;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}