<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <script type="text/javascript" src="../js/comcode/com_head.js"></script>
    <link rel="shortcut icon" href="../img/builder.jpeg">
    <title>WGSOC__社团简介</title>
    <style rel="stylesheet">.lazy-image {background: url('../img/loading.gif') no-repeat center;background-size: 26% 35%;height: 100%;width: 100%;}</style>
</head>
<body>
    <script type="text/javascript" src="../js/global_header.js"></script>
    <div id="d-audio" class="d-audio" style="width: 150px; z-index: 99; position: fixed; bottom: 5px; left: 5px;"></div>
    <!--主体-->
    <div class="big-container" style="height: auto;">
        <article>
            <script type="text/javascript" src="../js/comcode/com_about.js"></script>
            <script>
                function getParams(key) {
                    var reg = new RegExp("(^|&)" + key + "=([^&]*)(&|$)");
                    var r = window.location.search.substr(1).match(reg);
                    if (r != null) {
                        return unescape(r[2]);
                    }
                    return null;
                };
                var name = 1;
                if(getParams("name") != null){name = getParams("name")};
                print_page(name);
            </script>
        </article>
    </div>
    <!-- </div> -->
    <!--尾部-->
    <script type="text/javascript" src="../js/comcode/footer.js"></script>
    <script type="text/javascript" defer>
        //图片懒加载
        const lazyImage = new LazyImage('.lazy-image');
    </script>
</body>
</html>