<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <script type="text/javascript" src="../js/comcode/com_head.js"></script>
    <title>WGSOC__文件归档</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <style>
        body{background: #f2f2f2;font-family: 'Open Sans', sans-serif;}
        .search {width: 100%;position: relative;display: flex;}
        .searchTerm {width: 100%;border: 3px solid grey;border-right: none;padding: 5px;height: 20px;border-radius: 5px 0 0 5px;outline: none;color: black;}
        .searchTerm:focus{color: black;}
        .searchButton {width: 40px;height: 36px;border: 1px solid grey;background: grey;text-align: center;color: #fff;border-radius: 0 5px 5px 0;cursor: pointer;font-size: 20px;}
    </style>
    <style rel="stylesheet">.lazy-image {background: url('../img/loading.gif') no-repeat center;background-size: 26% 35%;height: 100%;width: 100%;}</style>
    <script type="text/javascript" src="../data/strings.js"></script>
</head>
<body>
    <script type="text/javascript" src="../js/global_header.js"></script>
    <script type="text/javascript" src="../js/comcode/com_artmenu.js"></script>
    <div id="d-audio" class="d-audio" style="width: 150px; z-index: 99; position: fixed; bottom: 5px; left: 5px;"></div>
    <main class="big-container">
        <article class="article">
            <div style="width: 120px; height:auto;background-color: rgb(255, 113, 113);border-radius: 10px;">
                <h3 style="text-align: center;color: #ffffff;">文件归档</h3>
            </div>
            <div style="width: 100%; height:auto;background-color: #ffffff;border-radius: 10px;transition:ease-in-out 0.3s;box-shadow: 0 0 10px rgba(184, 197, 214, .5);overflow: hidden;">
                <h2 style="text-align: left;color: #000000;">这里是本站以及各社团和宣传栏组织的文件归档处</h2>
                <br>
                <br>
            </div>
            <br>
            <div class="search">
                <input type="text" class="searchTerm" placeholder="Search" id="inpele">
                <button class="searchButton" onclick="{output()}"><i class="fa fa-search"></i></button>
            </div>
            <div style="text-align:center;">
                <button onclick="{searchmode = 1;document.getElementById('strict').innerHTML = '<strong style=\'color:rgb(126, 183, 244);\'>严格搜索</strong>';document.getElementById('loose').innerHTML = '<strong style=\'color:black;\'>宽泛搜索</strong>';}" style="cursor: pointer;" type="button" id="strict"><strong style="color:rgb(126, 183, 244);">严格搜索</strong></button>
                <button onclick="{searchmode = 2;document.getElementById('strict').innerHTML = '<strong style=\'color:black;\'>严格搜索</strong>';document.getElementById('loose').innerHTML = '<strong style=\'color:rgb(126, 183, 244);\'>宽泛搜索</strong>';}" style="cursor: pointer;" type="button" id="loose"><strong>宽泛搜索</strong></button>
            </div>
            <details>
                <summary>搜索模式（默认为严格搜索）</summary>
                <br><p>严格搜索：搜索项满足全部关键词 宽泛搜索：搜索项部分满足关键词即可</p>
            </details>
            <div class="nb-a-holder" id = '1'>
                <div class="column-container">
                    <ul class="column_box" id="like-box">
                        <script>
                            print_content();
                        </script>
                    </ul>
                </div>
            </div>
            <div id='2'>
                <div class="column-container-wider" style="float:right;">
                    <ul class="column_box" id="like-box">
                        <li class="column-title">
                            <span class="at-sort b-b-ece fl"><a class="at-sort-comment-a c-666 fl">论文</a></span>
                        </li>
                        <li class="person-intro-detail">
                            <details>
                                <summary>[简介]</summary>
                                <h3 style="color:black;text-align: center;">这里收录优秀论文</h3>
                                <h5 style="color:black;text-align: center;">论文格式统一为PDF，字数>5000，上传需要时间</h5>
                                <strong>
                                    <script>
                                        print_essays();
                                    </script>
                                </strong>
                                <hr>
                            </details>
                        </li>
                    </ul>
                </div>
                <div class="column-container-wider" style="float:right;">
                    <ul class="column_box" id="like-box">
                        <li class="column-title">
                            <span class="at-sort b-b-ece fl"><a class="at-sort-comment-a c-666 fl">资料</a></span>
                        </li>
                        <li class="person-intro-detail">
                            <strong>
                                文件备案 历史资料 马恩列斯毛著作文选/全集和各时期著作[PDF] <br>
                                <a href="https://www.aliyundrive.com/s/QXuNy5c7sQz">[点此获取]</a><br>
                                文件备案 历史资料 《红旗》1958-1976 汇总[PDF] <br>
                                <a href="https://www.aliyundrive.com/s/4LuDRBQxLT8">[点此获取]</a><br>
                                文件备案 历史资料 千禧年后社会调研分析报告[PDF] <br>
                                <a href="https://www.aliyundrive.com/s/aJvXeStg1wK">[点此获取]</a><br>
                            </strong>
                            <br>
                            <p style="text-align: right;"> based on Aliyundrive</p>
                            <hr>
                        </li>
                    </ul>
                </div>
            </div>
            <div id = '3'>
            </div>
        </article>
    </main>
    <!--尾部-->
    <script type="text/javascript" src="../js/comcode/footer.js"></script>
    <script type="text/javascript" defer>
        //图片懒加载
        const lazyImage = new LazyImage('.lazy-image');
    </script>
</body>
</html>