<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <script type="text/javascript" src="../js/comcode/com_head.js"></script>
    <title>WGSOC__关于</title>
    <style rel="stylesheet">.lazy-image {background: url('../img/loading.gif') no-repeat center;background-size: 26% 35%;height: 100%;width: 100%;}</style>
    <style>
        @import url("../css/calendar.css");
    </style>
</head>

<body>
    <script type="text/javascript" src="../js/global_header.js"></script>
    <div id="d-audio" class="d-audio" style="width: 150px; z-index: 99; position: fixed; bottom: 5px; left: 5px;"></div>
    <!--主体-->
    <div class="big-container">
        <article class="article">
            <div style="width: 120px; height:auto;background-color: rgb(255, 113, 113);border-radius: 10px;">
                <h3 style="text-align: center;color: #ffffff;">关于我们</h3>
            </div>
            <div style="width: 100%; height:auto;background-color: #ffffff;border-radius: 10px;transition:ease-in-out 0.3s;box-shadow: 0 0 10px rgba(184, 197, 214, .5);overflow: hidden;">
                <h2 style="text-align: left;color: #000000;">这里记录了我们过去的发展</h2>
                <br>
                <p><strong>内蒙古左翼社团联合会-AULIM & 所有支持我们的革命同志——联合起来！</strong></p>
                <br>
                <br>
            </div>
            <ul class="link-box">
                <li>
                    <span style="text-align: center;display: block;font-size:large;">望关 WangGuan SocialEditorials<br></span>
                </li>
                <h3 style="color: #4e4e4e;text-align: left;font-style: italic;">  望关的名字来源于？</h3>
                <li>
                    <span class="description">
                        “雄关漫道真如铁，而今迈步从头越”
                    </span>
                </li>
                <h3 style="color: #4e4e4e;text-align: left;font-style: italic;">  为什么以望关作为名字？</h3>
                <li>
                    <span class="description">
                        这句诗符合中国人民对现在中国革命和世界共产主义运动的看法，符合世界革命运动的现状。
                    </span>
                </li>
                <h3 style="color: #4e4e4e;text-align: left;font-style: italic;">  望关为什么而建立？</h3>
                <li>
                    <span class="description">
                        望关最早还不是这个名字。它一开始只作为我个人的社论文章分享站，后转而作为包头九中赤原社的一个网络宣传站存在。
                        后来和西北地区其他学联社团的串联以及内左联的成立，使得庞大的宣传工作需要一个网络宣传、联合和共享信息的枢纽，
                        望关于是承担了这项任务，成为内左联的网宣和联合专站。
                    </span>
                </li>
                <h3 style="color: #4e4e4e;text-align: left;font-style: italic;">  望关的意义何在？</h3>
                <li>
                    <span class="description">
                        除了联合专站的作用之外，望关仍然承担了信息共享和文章刊登的功能。
                        左翼文化的宣传工作不能仅仅依靠于实体的书本和报纸或者口头的宣传，
                        网络宣传的开展也有利于这个工作。在便携性和易读性上要好于传统的宣传方式（当然最好还是线下实际见面）。
                        我（ArbeiterKlassen）建设这个网站的目的一开始就在于通过网络——刊登文章的方式向大众宣传理论和思想，
                        再到最近（2022~2023）添加新的讨论版等等，一个目的也是为了维护网站的宣传功能，也即给予更多人一个思考和自由交流、发表观点的空间。
                        <br>
                        当然，望关的缺点也很明显。除了网页优化不够好，对手机的适配不高之外。主要问题还在于——群众掌握不到实体的宣传信息，也可能没有耐心主动了解左翼的思想和理论，我却不能强求。
                    </span>
                </li>
                <h3 style="color: #4e4e4e;text-align: left;font-style: italic;">  为什么要联合内左联？</h3>
                <li>
                    <span class="description">
                        团结是左翼运动工作的一个基础。但是现实社会不可能让我们有计划的主动结社，这事关安全问题。望关的存在就是为了暂且解决它。望关以宣传为核心，内左联以实际联合和宣传为核心。
                        那么，既然已经有了网络宣传的技术，为什么不把它用到内左联的宣传工作上呢？
                        <br>
                        所以，望关主动承担了内左联的宣传工作。这也成为了内左联保持社团和宣传栏之间联系的方式之一。
                    </span>
                </li>
                <h3 style="color: #4e4e4e;text-align: left;font-style: italic;">  你们对不同的左翼思想持怎么样的态度？</h3>
                <li>
                    <span class="description">
                        望关现在所拥有的一切——资料，文件，文章和底层的代码逻辑等等都不是我一个人的“功劳”，也不是赤原社一个社团的功劳。我也不希望望关仅仅是宣传一家思想的阵地。
                        <br>
                        内左联的建立原则也是如此，内左联从不是一个人，一个组织一家独大的学联，也不是一个思想四面出击的地方。现实左翼理论的复杂程度也决定望关这一个网站、内左联这一个多少同志共同建设的学联不可能是一个思想完全统一的联盟。
                        <br>
                        我们对各类左翼思想，无政府主义，各类共产主义、社会主义理论主要是包容态度。但包容有前提：你的思想经过了实践的检验，你的理论经得起群众的拷打，你的态度是支持左翼运动的团结斗争和和平共处。这是一个必要原则。否则就会导致左翼的大分裂。革命绝不可能靠着一小撮人，连武器的批判都做不到就完成了。
                        <br>
                        不能单纯给各派扣帽子、贴标签、定性。一个人具体是怎么想的，怎么得出什么结论的，要具体的看，具体的了解；一个人怎么参与实践的，也要具体的了解和分析。他具体是不是左派，是什么样的左派，都要从前面得出。
                        <br>
                        我不是搞忽视矛盾，不分理论。但现在是中国革命的危急时刻，不是优先搞大辩论谁对谁错的时候。辩论都要搞，也不是扣帽子开左籍，是理论交锋和实践结果的交锋。这个辩论的结果不是一无所成，是各派理论和实践方法的进步。
                        <br>
                    </span>
                </li>
                <h3 style="color: #4e4e4e;text-align: left;font-style: italic;">  内左联怎么保证不分裂？</h3>
                <li>
                    <span class="description">
                        我们无法下保证书。
                        <br>
                        内左联思想众多。不是谁都是毛主义者，不是谁都天生认同马克思主义，也不是谁都有能力完整的学习某一个左翼思想的全部内容。
                        <br>
                        能确保的只是，内左联的各个群体在进入内左联这个大家庭的那一瞬间还是认同内左联的联合方法。我们只有主动做点实事，搞教育，搞实践，研究团结的原则和方法，并且让各种各样的革命思想都有发表的机会，才能保持内左联内部的稳定。
                        <br>
                        这个过程很漫长，但只有坚持到彻底胜利那天才能证实——我们的团结方法是正确的。
                        <br>
                    </span>
                </li>
            </ul>
            <ul class="link-box">
                <li>
                    <span style="text-align: center;display: block;font-size:large;">主要建站人员列表<br></span>
                </li>
                <div id="main-name-container" style="margin-bottom: 100px;">
                    <div style="width: 100%;height:100px;float: left;" id="leftname">
                        <li>
                            <h3>Main Coder: ArbeiterKlassen</h3>
                            <h3>First Follower: Faschiung</h3>
                        </li>
                    </div>
                </div>
                <h3 style="color: #4e4e4e;text-align: left;">  Followers & Uploaders: </h3>
                <br>
                <div id="names-container" style="width: 93%;height:auto; border-width: 1px; border-style:solid; border-color:#969696;border-radius: 5px;margin: 0 auto;">
                    <div id="sub-names-container" style="top: 10px;width: 100%;height: auto;text-align: left;">
                        <br>
                        <div class="name-holder">两河流域</div>
                        <div class="name-holder">有为青年</div>
                        <div class="name-holder">小蔡鸡JadeCai</div>
                        <div class="name-holder">奇才</div>
                        <div class="name-holder">苏维埃小九</div>
                        <div class="name-holder">笑笑</div>
                        <div class="name-holder">浮生</div>
                        <div class="name-holder">超级阿伏伽德罗</div>
                        <div class="name-holder">八小时</div>
                        <div class="name-holder">稻公</div>
                        <div class="name-holder">铃秋</div>
                        <div class="name-holder">蚌埠黄豆不怕流汗</div>
                        <div class="name-holder">SW-Eril</div>                
                        <br>
                        <br><h6 style="text-align: right;color: #969696;">(排名不分先后)</h6>
                    </div>
                </div>
                <br>
                <br>
                <h3 style="color: #4e4e4e;text-align: left;">  Societies, Clubs and their Comrades: </h3>
                <br>
                <div id="names-container" style="width: 93%;height:auto; border-width: 1px; border-style:solid; border-color:#969696;border-radius: 5px;margin: 0 auto;">
                    <div id="sub-names-container" style="top: 10px;width: 100%;height: auto;text-align: left;">
                        <br>
                        <div class="name-holder">包头市第九中学赤原社（青年马克思主义学社）</div>
                        <div class="name-holder">内蒙古红色宣传栏</div>
                        <div class="name-holder">兰州红松学会</div>
                        <div class="name-holder">呼和浩特马克思主义学会</div>
                        <div class="name-holder">北桥联社</div>
                        <div class="name-holder">海拉尔市第二中学马列社-为公社</div>
                        <div class="name-holder">鄂尔多斯市大大小小为社会主义斗争的同志们</div>              
                        <br>
                        <br><h6 style="text-align: right;color: #969696;">(排名不分先后)</h6>
                    </div>
                </div>
                <br>
                <br>
            </ul>
            <ul class="link-box">
                <li>
                    <span style="text-align: left;display: block;font-size:x-large;color: #000000;font-family: 'Times New Roman', Times, serif;">WangGuan-Calendar<br></span>
                </li>
                <div id="calendar" style="height: auto;width: 100%;margin: 0 auto;background-color: rgb(255, 255, 255);">
                    <div id="left-holder" class="calendar-lh">
                        <div id="inner-holder" style="margin: 20px;">
                            <div id="calendar-title" style="width: 100%;height: 80px;text-align: center;vertical-align: middle;font-size: x-large;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                                MONTH
                            </div>
                            <div id="calendar-weekdays" style="width: 100%;height:50px;background-color: white;">
                                <div id="w1" style="font-family: 'Times New Roman', Times, serif;width: 14.2%;height:50px;float: left;text-align: center;font-size: large;color: rgb(159, 15, 44);">S</div>
                                <div id="w2" style="font-family: 'Times New Roman', Times, serif;width: 14.2%;height:50px;float: left;text-align: center;font-size: large;">M</div>
                                <div id="w3" style="font-family: 'Times New Roman', Times, serif;width: 14.2%;height:50px;float: left;text-align: center;font-size: large;">T</div>
                                <div id="w4" style="font-family: 'Times New Roman', Times, serif;width: 14.2%;height:50px;float: left;text-align: center;font-size: large;">W</div>
                                <div id="w5" style="font-family: 'Times New Roman', Times, serif;width: 14.2%;height:50px;float: left;text-align: center;font-size: large;">T</div>
                                <div id="w6" style="font-family: 'Times New Roman', Times, serif;width: 14.2%;height:50px;float: left;text-align: center;font-size: large;">F</div>
                                <div id="w7" style="font-family: 'Times New Roman', Times, serif;width: 14.2%;height:50px;float: left;text-align: center;font-size: large;">S</div>
                            </div>
                            <div id="calendar-dates">
                            <div id="calendar-dates-container"></div>
                                <script>
                                    var monthlist = ["January","February","March","April","May","June","July","August","September","October","November","December"];
                                    var myDate = new Date();
                                    var strDate = myDate.getFullYear()+'-'+myDate.getMonth()+1+'-1';
                                    var start = new Date(strDate).getDay();//0-6
                                    document.getElementById('calendar-title').innerHTML = monthlist[myDate.getMonth()];
                                    for(var i = 0;i<start;i++){
                                        document.getElementById('calendar-dates-container').innerHTML += '<div id="empty" style="width: 13%;height:50px;float: left;"></div>'
                                    }
                                    var datelist = [31,28,31,30,31,30,31,31,30,31,30,31];
                                    if(myDate.getFullYear()%4 == 0 && myDate.getFullYear()!=0){
                                        datelist[1] = 29;//处理闰年
                                    }
                                    for(var i = 0;i<datelist[myDate.getMonth()];i++){
                                        if((i+start)%7 != 0){
                                            document.getElementById('calendar-dates-container').innerHTML += '<div id=d"'+(i+1)+'"'+' style="font-family:'+"'Times New Roman'"+', Times, serif;'+'width: 14.2%;height:50px;float: left;text-align: center;font-size: large;">'+(i+1)+'</div>';
                                        }else{
                                            document.getElementById('calendar-dates-container').innerHTML += '<div id="d'+(i+1)+'"'+'  style="font-family:'+"'Times New Roman'"+', Times, serif;'+'width: 14.2%;height:50px;float: left;text-align: center;font-size: large;color: rgb(159, 15, 44);">'+(i+1)+'</div>';
                                        }
                                    }
                                    document.getElementById('d'+myDate.getDate()).innerHTML = '<strong>'+myDate.getDate()+'</strong>'
                                </script>
                            </div>
                            <div id="tip" style="width: 100%;float: right;line-height: 50px;">
                                <li>
                                    <script>
                                        document.write('望关至今已经运行 '+Math.trunc((Date.parse(myDate.getFullYear()+"-"+myDate.getMonth()+1+"-"+myDate.getDate()) - Date.parse("2021-8-10"))/1000/60/60/24)+'天');
                                    </script>
                                </li>
                            </div>
                        </div>
                    </div>
                    <div id="right-holder" class="calendar-rh">
                        <div id="img-container" style="width: 100%;">
                            <img style="width: 80%;margin-bottom: 50px;border-radius: 5px;"src="../img/calendar.jpg" alt="">
                        </div>
                        <h6 style="text-align: right;display: block;color: #000000;font-family: 'Times New Roman', Times, serif;">Created By ArbeiterKlassen</h6>
                    </div>
                </div>
            </ul>
        </article>
    </div>
    <!--尾部-->
    <script type="text/javascript" src="../js/comcode/footer.js"></script>
    <script type="text/javascript" defer>
        //图片懒加载
        const lazyImage = new LazyImage('.lazy-image');
    </script>
</body>

</html>