<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <script type="text/javascript" src="../js/comcode/com_head.js"></script>
    <title>WGSOC__公告</title>
    <style rel="stylesheet">.lazy-image {background: url('../img/loading.gif') no-repeat center;background-size: 26% 35%;height: 100%;width: 100%;}</style>
</head>

<body>
    <script type="text/javascript" src="../js/global_header.js"></script>
    <div id="d-audio" class="d-audio" style="width: 150px; z-index: 99; position: fixed; bottom: 5px; left: 5px;"></div>
    <!--主体-->
    <div class="big-container" id="particles-js">
        <article class="article">
            <div style="width: 120px; height:auto;background-color: rgb(222, 0, 0);border-radius: 10px;">
                <h3 style="text-align: center;color: #ffffff;">赤原社公告版</h3>
            </div>
            <div style="width: 100%; height:auto;background-color: #ffffff;border-radius: 10px;transition:ease-in-out 0.3s;box-shadow: 0 0 10px rgba(184, 197, 214, .5);overflow: hidden;">
                <h2 style="text-align: left;color: #000000;">这里是赤原社各大事项的公告版哦</h2>
                <br>
                <p>  最初，望关这个网站就是作为赤原社-包头九中赤原青年马克思主义学社的社团专站存在。在不断的联络和扩大后，望关改组为内蒙古地区左翼社团的共同专站。</p><p>  赤原社的公告页面于是保留下来</p>
                <br>
                <br>
            </div>
            <div class="nb-a-holder">
                <!--公告板-->
                <script type="text/javascript" src="../js/comcode/com_club.lastsign.js"></script>            
                <script type="text/javascript" src="../js/comcode/com_club.sign.js"></script>
            </div>
        </article>
    </div>
    <!--尾部-->
    <script type="text/javascript" src="../js/comcode/footer.js"></script>
    <script type="text/javascript" defer>
        //图片懒加载
        const lazyImage = new LazyImage('.lazy-image');
    </script>
</body>
</html>