<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <script type="text/javascript" src="../js/comcode/com_head.js"></script>
    <title>望关 - WangGuan SocialEssays</title>
    <style rel="stylesheet">.lazy-image {background: url('../img/loading.gif') no-repeat center;background-size: 26% 35%;height: 100%;width: 100%;}</style>
    <style>
    </style>
</head>
<body>
    <script type="text/javascript" src="../js/global_header.js"></script>
    <div id="d-audio" class="d-audio" style="width: 150px; z-index: 99; position: fixed; bottom: 5px; left: 5px;"></div>
    <!-- <div id="headimg" style="float: inline-start;width: 100%;height:width*80%;z-index: -1;"><img src="../img/headimg.jpg" alt="headimg" style="width:100%;"></div> -->
    <!--主体-->
    <div id="headpic" class="headpic">
        <script>
            var pics = [
            // "https://i.postimg.cc/63C6HRGL/headp1.jpg",
            // "https://i.postimg.cc/4yZfjd6C/headp2.jpg",
            // "https://i.postimg.cc/FsrFZYF3/headp3.jpg",
            // "https://i.postimg.cc/3Jt8b3W6/headp4.jpg",
            // "https://i.postimg.cc/wMVqzp21/headp5.jpg",
            // "https://i.postimg.cc/DfdyLrh7/headp6.jpg",
            "https://i.328888.xyz/2022/12/07/fVTsV.jpeg",
            "https://i.328888.xyz/2022/12/07/fV1fd.jpeg",
            "https://i.328888.xyz/2022/12/07/fVQ8b.jpeg",
            "https://i.328888.xyz/2022/12/07/fVYFq.jpeg",
            "https://i.328888.xyz/2022/12/07/fVqYz.jpeg",
            "https://i.328888.xyz/2022/12/07/ffZww.jpeg",
            "https://i.328888.xyz/2022/12/08/fpP1d.jpeg",
            "https://i.328888.xyz/2022/12/08/fpp03.jpeg",
            "https://i.328888.xyz/2022/12/08/fpXJ5.jpeg",
            "https://i.328888.xyz/2022/12/08/fp6OQ.jpeg",
            "https://i.328888.xyz/2022/12/08/fpFzE.jpeg",
            "https://i.328888.xyz/2022/12/08/fpG1C.jpeg"
                // "../img/headp1.jpg",
                // "../img/headp2.jpg",
                // "../img/headp3.jpg",
                // "../img/headp4.jpg",
                // "../img/headp5.jpeg",
                // "../img/headp6.jpeg"
            ]
            var intros = [
                "我们今天的家将是马德里",
                "国际主义",
                "阿芙乐尔的炮声终会再次响起",
                "雪原，冰河流淌其上",
                "国际妇女的解放必胜",
                "保卫和平和革命！",
                "两种宇宙观；矛盾的普遍性；矛盾的特殊性；主要的矛盾和主要的矛盾方面；矛盾诸方面的同一性和斗争性；对抗在矛盾中的地位。————毛泽东",
                "你是为了吃饭而生存，还是为了生存而吃饭呢? ————苏格拉底",
                "理性精神的王国永存",
                "当我们一提到本质时，我们便将本质与存在加以区别，而认存在为直接的东西，与本质比较看来，只是一种假象。但这种假象并非空无所有，完全无物，而是一种被扬弃的存在。本质的观点是反思的观点......哲学的任务或目的在于认识事物的本质，不应当让事物停留在它的直接性里，而须指出它是以别的事物为中介或根据的。————黑格尔",
                "帝国主义是资本主义的最高阶段————列宁",
                "砸碎铁链"
            ]
            xtype = Math.floor(Math.random()*(pics.length-1));
            document.write('<img style="width: 100%; height:auto" alt="" src="'+pics[xtype]+'">');
        </script>
    </div>
    <div class="headpic-cover">
        <div style="text-align: center;padding: 10px 10px 20px 20px;color: #ffffffb6;width: 500px;height:auto;background-color: #00000090;border-radius: 15px;position:relative;margin: 0 auto;top: 430px;">
            <i><script>
                document.write(intros[xtype]);
            </script></i>
        </div>
    </div>
    <div class="big-container" style="background-color: rgb(255, 255, 255)" id="particles-js">  
        <article class="article">
            <br>
            <div style="border-style:dashed;width: 80%;height: auto;padding: 5px 5px 5px 5px;border-width: 3px;border-color: #0000006d;border-radius: 10px;margin: 0 auto;">
                <p style="text-align:center;font-size:15px;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">WangGuan Editorial Essays</p>
            </div>
            <div style="width: 120px; height:auto;margin: 0 auto;background-color: rgb(255, 113, 113);border-radius: 10px;">
                <h3 style="text-align: center;color: #ffffff;">首页</h3>
            </div>
            <div class="right-holder">
                <!--网页介绍-->
                <div class="column-container">
                    <ul class="column_box" id="like-box">
                        <li class="column-title">
                            <span class="at-sort b-b-ece fl"><a class="at-sort-comment-a c-666 fl">网站介绍</a></span>
                        </li>
                        <li class="person-img-li">
                            <img alt="logo" id="person-img"
                                src="../img/user.jpeg">
                        </li>
                        <li class="person-intro-detail gradient-text">
                            <h1>这里是望关</h1>
                        </li>
                        <li class="person-intro-detail">
                            <h5>
                                一个记录学习和思考的社论站<br>
                                兼作为内蒙古左翼社团联合会专站<br>
                            </h5>
                            <br><h5>Builder：所有参与望关和内左联建设的同志们</h5>
                        </li>
                        <li class="person-intro-detail">
                            <h5>Based on：Github Pages;Go+Vue</h5>
                        </li>
                        <!-- <li class="person-intro-detail">
                            <a href="./inside.index.html">里站[Inside]</a>
                        </li> -->
                        <div class="icon-center">
                            <span class="icon-box"><a id="github-icon" target="_blank" href="https://github.com/arbeiterklassen"
                                    class="foot-icon"></a>
                            </span>
                            <span class="icon-box"><a id="qq-icon" target="_blank"
                                    href="tencent://Message/?Uin=1038171180&amp;websiteName=q-zone.qq.com&amp;Menu=yes"
                                    class="foot-icon"></a>
                            </span>
                            <span class="icon-box"><a id="bili-icon" target="_blank" href="https://space.bilibili.com/1763105507"
                                    class="foot-icon"></a>
                            </span>
                        </div>
                    </ul>
                </div>
                <!--投稿须知-->
                <div class="column-container">
                    <ul class="column_box" id="like-box">
                        <li class="column-title">
                            <span class="at-sort b-b-ece fl"><a class="at-sort-comment-a c-666 fl">投稿须知</a></span>
                        </li>
                        <li class="person-intro-detail">
                            <strong>
                                1.年龄不限。请在文章结尾投上你的网络昵称&截止日期（不要使用真名）<br>
                                2.对马克思主义理论或其他进步左翼理论有较充分的了解。需要有一定的历史了解（像康德理性主义之类的探讨都是可以的）<br>
                                3.主题明确，观点犀利，逻辑清晰，可以是分段论，字数不限（一般还是大于1000字），但是内容不要太水。<br>
                                4,文本格式可以是：DOC，DOCX，TXT，PDF，PPT<br>
                                5.文章结构可以是：<br>
                                标题-导言（可写可不写）-正文（可分段分层）-结束语-注释（可写可不写）<br>
                                6.当然，写诗也是可以的（文笔优美当然更好）<br>
                                7.如果是大于5000字的论文形式，建议转成PDF形式，方便上传。
                                8.请将文章的文件格式投稿到邮箱 arbeiterklassen@163.com (不接受其他方式)<br>
                            </strong>
                        </li>
                    </ul>
                </div>
                <div class="column-container" style="width: 100%;float: left;">
                    <ul class="column_box" id="like-box">
                        <li class="column-title">
                            <span class="at-sort b-b-ece fl"><a class="at-sort-comment-a c-666 fl">宣传栏</a></span>
                        </li>
                    </ul>
                </div>
                <!-- <div class="column-container">
                    <ul class="column_box" id="like-box">
                        <img src="https://i.328888.xyz/2022/12/17/4mRv5.jpeg" alt="inernational" style="width:100%">
                        <li class="person-intro-detail">
                            <h1 style="text-align:center"> 联合起来，争取更大的胜利</h1>
                        </li>
                        <li class="person-intro-detail">
                            <h5 style="text-align:center">本站代表赤原社和@中国红松学会（兰州）达成合作，本站开设宣传栏！</h5>
                        </li>
                        <br>
                    </ul>
                </div> -->
<!-- https://imgloc.com/i/4m3py -->
                <div class="column-container">
                    <ul class="column_box" id="like-box">
                        <img src="https://i.328888.xyz/2022/12/17/4mrW3.jpeg" alt="inernational" style="width:100%">
                        <li class="person-intro-detail">
                            <h1 style="text-align:center"> We Choose to Unite!</h1>
                        </li>
                        <li class="person-intro-detail">
                            <h5 style="text-align:center">从2022年11月19日开始，本站将作为内蒙古红色宣传墙专站！</h5>
                        </li>
                        <br>
                    </ul>
                </div>
            </div>
            <div class="left-holder">
                <div class="column-container-wider">
                    <ul class="column_box" id="like-box">
                        <li class="column-title">
                            <span class="at-sort b-b-ece fl"><a class="at-sort-comment-a c-666 fl">文章总览</a></span>
                        </li>
                        <li class="person-intro-detail">
                            <strong></strong>
                        </li>
                    </ul>
                </div>
                <script type="text/javascript" src="../js/comcode/com_artmenu.js"></script>
                <div id="article-holder" style="width: 100%; float: left">
                    <div id="celebrates-container"></div>
                    <script type="text/javascript" src="../js/celebrate.js"></script>
                    <div id="pages-container"></div>
                    <div id="chooser-container">
                        <script>
                            function getParams(key) {
                                var reg = new RegExp("(^|&)" + key + "=([^&]*)(&|$)");
                                var r = window.location.search.substr(1).match(reg);
                                if (r != null) {
                                    return unescape(r[2]);
                                }
                                return null;
                            };
                            var page = 1;
                            if(getParams("page") != null){page = getParams("page")};
                            function page_chooser(){
                                document.write('<div class="article-box" style="width:auto;height:32px;background-color:rgba(180,180,180,0)" id="choosen-container">')
                                document.write('    <div class="ab-content" style="background-color:rgba(180,180,180,0)">')
                                document.write('        <div style="height:32px;width:auto;border-radius:4px;margin: 0 auto;float:left;text-align:center;font-size:18px">'+"  共"+count+"篇文章 "+pages + "页  "+' </div>')
                                for(var i = 1;i<=pages;i++)document.write('<div class="choosen-box">'+'<a style="color:white" href="./index.html?page='+i+'">'+i+'</a></div>')
                                document.write('    </div>')
                                document.write('</div>')
                            };
                            print_page(page);
                            page_chooser();
                        </script>
                    </div>
                    <!-- <button type="button" style="color:white;" onclick="{document.getElementById('pages-container').innerHTML='<script>clean_page();print_page(2)</script>'}">2</button> -->
                </div>
                <div class="column-container-wider">
                    <ul class="column_box" id="like-box">
                        <li class="column-title">
                            <span class="at-sort b-b-ece fl"><a class="at-sort-comment-a c-666 fl">Contact</a></span>
                        </li>
                        <br>
                        <div id="contact-container" style="width: 93%;height:auto; border-width: 1px; border-style:dashed; border-color:#969696;border-radius: 5px;margin: 0 auto;">
                            <div id="sub-contact-container" style="top: 10px;width: 92%;height: auto;color: #4e4e4e;text-align: left;">
                                <li class="person-intro-detail">
                                    <h3 style="text-align: left;">包头九中赤原青年马克思主义社 QQ:3554191802</h3>
                                    <h3 style="text-align: left;">赤原社线上群 QQ:934490879</h3>
                                    <h3 style="text-align: left;">赤原文创主催 QQ:1520044542 赤原社社长 QQ:1038171180</h3>
                                    <h3 style="text-align: left;">赤原Minecraft Server Beta ver. QQ:698334186</h3>
                                </li>
                            </div>
                        </div>
                        <br>
                        <div id="contact-container" style="width: 93%;height:auto; border-width: 1px; border-style:dashed; border-color:#969696;border-radius: 5px;margin: 0 auto;">
                            <div id="sub-contact-container" style="top: 10px;width: 92%;height: auto;color: #4e4e4e;text-align: left;">
                                <li class="person-intro-detail">
                                    <h3 style="text-align: left;">内蒙古红色宣传墙 QQ:3532996022</h3>
                                    <h3 style="text-align: left;">内蒙古左翼学生社团联合会 QQ:697322158</h3>
                                </li>
                            </div>
                        </div>
                        <br>
                        <div id="contact-container" style="width: 93%;height:auto; border-width: 1px; border-style:dashed; border-color:#969696;border-radius: 5px;margin: 0 auto;">
                            <div id="sub-contact-container" style="top: 10px;width: 92%;height: auto;color: #4e4e4e;text-align: left;">
                                <li class="person-intro-detail">
                                    <h3 style="text-align: left;">望关 Email: arbeiterklassen@163.com</h3>
                                    <h3 style="text-align: left;">GitHub: ArbeiterKlassen</h3>
                                    <h3 style="text-align: left;">BiliBili: ArbeiterKlassen</h3>
                                </li>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </article>
    </div>
    <!--尾部-->
    <script type="text/javascript" src="../js/comcode/footer.js"></script>
    <script type="text/javascript" defer>
        // 图片懒加载
        const lazyImage = new LazyImage('.lazy-image');
    </script>
</body>
</html>