<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <script type="text/javascript" src="../js/comcode/com_head.js"></script>
    <link rel="shortcut icon" href="../img/builder.jpeg">
    <title>WGSOC__评论</title>
    <style rel="stylesheet">.lazy-image {background: url('../img/loading.gif') no-repeat center;background-size: 26% 35%;height: 100%;width: 100%;}</style>
</head>
<body>
    <script type="text/javascript" src="../js/global_header.js"></script>
    <div id="d-audio" class="d-audio" style="width: 150px; z-index: 99; position: fixed; bottom: 5px; left: 5px;"></div>
    <!--主体-->
    <div class="big-container" id="particles-js">  
        <article class="article">
            <div style="width: 120px; height:auto;background-color: rgb(222, 0, 0);border-radius: 10px;">
                <h3 style="text-align: center;color: #ffffff;">评论区</h3>
            </div>
            <div class="topsign-title">
                <h2 class="topsign-text">在这里留下你对这个网站的意见和文章讨论吧！（注意文明用语，严禁色图水贴哦~（=^Δ^=））</h2>
                <p>
                    <br>
                    有需要修改的文章/勘误/讨论，需要添加/删除的功能都可以在这里发表！ps：宣传社团和宣传栏等等可以去隔壁宣传栏哦~ <br>
                    <br>
                    tag: #意见反馈# #文章# #反馈# #意见反馈# #勘误# <br>
                    <br>
                    <br>
                    <br>
                </p>
            </div>
            <div id="lv-container" data-id="city" data-uid="MTAyMC81NzY3Ny8zNDE0MA==">
                <script type="text/javascript">
                (function(d, s) {
                    var j, e = d.getElementsByTagName(s)[0];
                    if (typeof LivereTower === 'function') { return; }
                    j = d.createElement(s);
                    j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
                    j.async = true;
                    e.parentNode.insertBefore(j, e);
                })(document, 'script');
                </script>
            <noscript> 为正常使用来必力评论功能请激活JavaScript</noscript>
            </div>
        </article>
    </div>
    <!--尾部-->
    <script type="text/javascript" src="../js/comcode/footer.js"></script>
    <script type="text/javascript" defer>
        // 图片懒加载
        const lazyImage = new LazyImage('.lazy-image');
    </script>
</body>
</html>