<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <script type="text/javascript" src="../js/comcode/com_head.js"></script>
    <title>WGSOC__友情链接</title>
    <style rel="stylesheet">.lazy-image {background: url('../img/loading.gif') no-repeat center;background-size: 26% 35%;height: 100%;width: 100%;}</style>
</head>

<body>
    <script>
        function getParams(key) {
            var reg = new RegExp("(^|&)" + key + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) {
                return unescape(r[2]);
            }
            return null;
        };
        var mode = 1;
        if(getParams("mode") != null){mode = getParams("mode")};
    </script>
    <script type="text/javascript" src="../js/global_header.js"></script>
    <div id="d-audio" class="d-audio" style="width: 150px; z-index: 99; position: fixed; bottom: 5px; left: 5px;"></div>
    <!--主体-->
    <div id="headpic" class="headpic">
        <script>
            var pics = [
            "https://i.imgloc.com/2022/12/07/fVTsV.jpeg",
            "https://i.imgloc.com/2022/12/07/fV1fd.jpeg",
            "https://i.imgloc.com/2022/12/07/fVQ8b.jpeg",
            "https://i.imgloc.com/2022/12/07/fVYFq.jpeg",
            "https://i.imgloc.com/2022/12/07/fVqYz.jpeg",
            "https://i.imgloc.com/2022/12/07/ffZww.jpeg",
            "https://i.imgloc.com/2022/12/08/fpP1d.jpeg",
            "https://i.imgloc.com/2022/12/08/fpp03.jpeg",
            "https://i.imgloc.com/2022/12/08/fpXJ5.jpeg",
            "https://i.imgloc.com/2022/12/08/fp6OQ.jpeg",
            "https://i.imgloc.com/2022/12/08/fpFzE.jpeg",
            "https://i.imgloc.com/2022/12/08/fpG1C.jpeg"
            ]
            var intros = [
                "我们今天的家将是马德里",
                "国际主义",
                "阿芙乐尔的炮声终会再次响起",
                "雪原，冰河流淌其上",
                "国际妇女的解放必胜",
                "保卫和平和革命！",
                "两种宇宙观；矛盾的普遍性；矛盾的特殊性；主要的矛盾和主要的矛盾方面；矛盾诸方面的同一性和斗争性；对抗在矛盾中的地位。————毛泽东",
                "你是为了吃饭而生存，还是为了生存而吃饭呢? ————苏格拉底",
                "理性精神的王国永存",
                "当我们一提到本质时，我们便将本质与存在加以区别，而认存在为直接的东西，与本质比较看来，只是一种假象。但这种假象并非空无所有，完全无物，而是一种被扬弃的存在。本质的观点是反思的观点......哲学的任务或目的在于认识事物的本质，不应当让事物停留在它的直接性里，而须指出它是以别的事物为中介或根据的。————黑格尔",
                "帝国主义是资本主义的最高阶段————列宁",
                "砸碎铁链"
            ]
            xtype = Math.floor(Math.random()*(pics.length-1));
            document.write('<img style="width: 100%; height:auto" alt="" src="'+pics[xtype]+'">');
        </script>
    </div>
    <div class="headpic-cover">
        <div style="margin: 0 auto;top:210px;text-align: center;padding: 10px 10px 20px 20px;color: #ffffff;position: absolute;width: 100%;">
            <script type="text/javascript" src="../js/comcode/com_artmenu.js"></script>
            <h1 style="font-family: 'Kanji-kai-2', 'Mulish', -apple-system, 'PingFang SC', 'Microsoft YaHei', sans-serif;margin: 0 auto;text-align: center;font-size: 70px;font-weight: 100;"><div style="color:red;display: inline;">友</div>情链接</h1>
            <h4 style="font-family: 'Kanji-kai-2', 'Mulish', -apple-system, 'PingFang SC', 'Microsoft YaHei', sans-serif;margin: 0 auto;text-align: center;font-weight: 100;"><div style="color:red;display: inline;">L</div>inks</h4>
        </div>
        <div style="text-align: center;padding: 10px 10px 20px 20px;color: #ffffffb6;width: 500px;height:auto;background-color: #0000006c;border-radius: 15px;position:relative;margin: 0 auto;top: 430px;">
            <i><script>
                document.write(intros[xtype]);
            </script></i>
        </div>
        <div style="text-align: left;padding: 10px 10px 20px 20px;color: #ffffffb6;height:auto;background-color: #0000006c;border-radius: 15px;position:absolute;left: 20px;top: 500px;">
            <div style="text-align: center;width: 100%;height:100%;border-radius: 10px;border-color: azure;">
                <a href="https://imgloc.com/" style="color:#ffffff">图床=></a>
            </div>
        </div>
    </div>
    <div class="big-container">
        <article class="article">
            <div style="width: 120px; height:auto;background-color: rgb(222, 0, 0);border-radius: 10px;">
                <h3 style="text-align: center;color: #ffffff;">友情链接</h3>
            </div>
            <div class="topsign-title">
                <h2 class="topsign-text">这里是友情链接~~~ヽ(✿ﾟ▽ﾟ)ノ</h2>
                <br>
                <p>望关不会忘记每一位对这个小站做出建设的人</p>
                <br>
                <br>
            </div>
            <ul class="link-box">
                <li>
                    <span style="text-align: center;display: block;font-size:large;">鸣谢<br></span>
                </li>
                <div id="main-name-container" style="height:200px;">
                    <div style="width: 50%;height:200px;float: left;" id="leftname">
                        <li>
                            <h3>ArbeiterKlassen</h3>
                            <a href="https://arbeiterklassen.github.io/self" target="_blank">个人博客</a><a href="https://space.bilibili.com/353804830" target="_blank">B站</a>
                            <span class="description">本站的提出者。</span>
                            <span class="description">这个昵称源自德语：工人阶级。</span>
                        </li>
                    </div>
                    <div style="width: 50%;height: 200px;float: right;" id="rightname">
                        <li>
                            <h3>Faschiung</h3>
                            <a href="https://space.bilibili.com/322026087" target="_blank">B站</a>
                            <span class="description">第一篇文章！</span>
                            <span class="description">这个昵称是英文Fashion的德文转写。</span>
                        </li>
                    </div>
                </div>
                <h3 style="color: #4e4e4e;text-align: left;">  参与文章贡献和讨论的：</h3>
                <br>
                <div id="names-container" style="width: 93%;height:auto; border-width: 1px; border-style:solid; border-color:#969696;border-radius: 5px;margin: 0 auto;">
                    <div id="sub-names-container" style="top: 10px;width: 100%;height: auto;text-align: left;">
                        <br>
                        <div class="name-holder">两河流域</div>
                        <div class="name-holder">有为青年</div>
                        <div class="name-holder">小蔡鸡JadeCai</div>
                        <div class="name-holder">奇才</div>
                        <div class="name-holder">苏维埃小九</div>
                        <div class="name-holder">笑笑</div>
                        <div class="name-holder">浮生</div>
                        <div class="name-holder">超级阿伏伽德罗</div>
                        <div class="name-holder">八小时</div>
                        <div class="name-holder">稻公</div>
                        <div class="name-holder">铃秋</div>
                        <div class="name-holder">蚌埠黄豆不怕流汗</div>
                        <div class="name-holder">SW-Eril</div>                
                        <br>
                        <br><h6 style="text-align: right;color: #969696;">(排名不分先后)</h6>
                        <br>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <h2 style="text-align: center;font-family: Georgia, 'Times New Roman', Times, serif;">Thank for your continuous support and dedication</h2>
                <br>
            </ul>
            <!--友情链接-->
            <ul class="link-box about">
                <span style="text-align: center;display: block;font-size:large;">创作声明</span>
                <li>
                    <span class="description">
                        本站所有文章投稿及相关文件均遵守(CC)-BY-NC-SA协议,即：创作共用-署名-非商业性-相同方式共享。
                    </span>
                </li>
                <li>
                    <span class="description">
                        BY：您（用户）可以复制、发行、展览、表演、放映、广播或通过信息网络传播本作品；您必须按照作者或者许可人指定的方式对作品进行署名。
                    </span>
                </li>
                <li>
                    <span class="description">
                        NC：您可以自由复制、散布、展示及演出本作品；您不得为商业目的而使用本作品。
                    </span>
                </li>
                <li>
                    <span class="description">
                        SA：您可以自由复制、散布、展示及演出本作品；若您改变、转变或更改本作品，仅在遵守与本作品相同的许可条款下，您才能散布由本作品产生的派生作品。
                    </span>
                </li>
                <li>
                    <span class="about_line">
                        目前望关搬运的文章资源来源有：
                    </span>
                </li>
                <div id="names-container" style="width: 93%;height:auto; border-width: 1px; border-style:solid; border-color:#969696;border-radius: 5px;margin: 0 auto;">
                    <div id="sub-names-container" style="top: 10px;width: 100%;height: auto;text-align: left;">
                        <br>
                        <div class="name-holder">Noli foras ire @事物与事件<li><span class="about_line"><a href="https://pedantries.com/" target="_blank">https://pedantries.com/</a></span></li></div>
                        <br>
                        <br><h6 style="text-align: right;color: #969696;">(排名不分先后)</h6>
                        <br>
                    </div>
                </div>
            </ul>
            <ul class="link-box">
                <span style="text-align: center;display: block;font-size:large;">友情链接</span>
                <li>
                    <a href="https://www.marxists.org">MAXRISTS.ORG 马克思主义文库</a>
                    <span class="description">旨在传播马克思主义和共产主义历史文献和参考资料<br>拥有最全的马克思主义文献整理<br>
                        “我们现在收集的文献有38种语言，包括阿拉伯语、乌尔都语、越南语等等，总共2500兆的数据中有1500兆都是英语的，其他语言的文献很少。>这些作品的作者总共有430人，他们中间有103个人的作品几乎都是英文。英文文献的大部头作品有列宁的3900篇，马恩的3260篇，托洛茨基的1264篇。”<br>
                    </span>
                    <span class="description">————Andy Blunden,marxists.org 创始人</span>
                </li>
                <li>
                    <a href="https://www.marxists.org">MAXRISTS.ORG CHver 中文马克思主义文库</a>
                    <span class="description">马克思主义文库中国分站<br>拥有最全的马克思主义文献整理，<br>
                        “互联网可以使社会主义者可以和那些由于地理或资金的原因而无法接触到社会主义文献的人们或组织建立起联系。<br>
                        以前学习马克思主义、阅读马克思主义文献需要通过图书馆或者是有社会主义作品的书店，但现在这些限制条件已经不复存在了。这尤其是对于那些发展中国家的进步学生和社会主义激进分子有利。br
                        随着网吧数量的剧增，即使在一些不发达国家，世界上最贫穷、最受压迫的人民都有更好的机会组织起来学习社会主义。”<br>
                    </span>
                    <span class="description">————David Walter,marxists.org 创始人</span>
                    
                </li>
                <li>
                    <h3>未明子</h3>
                    <a href="https://space.bilibili.com/23191782" target="_blank">B站</a>
                    <span class="description">哲学学者，B站UP，讲解深刻</span>
                </li>
                <li>
                    <h3>卢麒元</h3>
                    <a href="https://space.bilibili.com/1446926098" target="_blank">B站</a>
                    <span class="description">全球大学堂-麒元视角栏目主讲人，主攻国际政治经济学</span>
                </li>
                <li>
                    <h3>温铁军（国仁全球大学堂）</h3>
                    <a href="https://space.bilibili.com/679619486" target="_blank">B站</a>
                    <span class="description">包含温铁军，戴锦华，卢麒元等诸位讲师。涉及方面较广</span>
                </li>
            </ul>
        </article>
    </div>
    <!--主题-->>
    <div>
        <script>
            if(mode==1)document.write('<div style="padding-left: 10px;padding-right: 10px;color: rgb(0, 0, 0);z-index: 1000; width: auto; height: 40px; position: fixed; bottom: 40px; right: 17%; cursor: pointer; background-size: 100%; display: inline-block;border-radius: 20px;background-color:#000000"><a href="./link.html?mode=2" style="font-size:28px">✨</a></div>')
            if(mode==2)document.write('<div style="padding-left: 10px;padding-right: 10px;color: rgb(0, 0, 0);z-index: 1000; width: auto; height: 40px; position: fixed; bottom: 40px; right: 17%; cursor: pointer; background-size: 100%; display: inline-block;border-radius: 20px;background-color:#ffffff"><a href="./link.html?mode=1" style="font-size:28px">🔆</a></div>')
        </script>
    </div>
    <!--尾部-->
    <script type="text/javascript" src="../js/comcode/footer.js"></script>
    <script type="text/javascript" defer>
        //图片懒加载
        const lazyImage = new LazyImage('.lazy-image');
    </script>
</body>

</html>