<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <script type="text/javascript" src="../js/comcode/com_head.js"></script>
    <link rel="shortcut icon" href="../img/builder.jpeg">
    <title>WGSOC__宣传墙</title>
    <style rel="stylesheet">.lazy-image {background: url('../img/loading.gif') no-repeat center;background-size: 26% 35%;height: 100%;width: 100%;}</style>
</head>
<body>
    <script type="text/javascript" src="../js/global_header.js"></script>
    <div id="d-audio" class="d-audio" style="width: 150px; z-index: 99; position: fixed; bottom: 5px; left: 5px;"></div>
    <!--主体-->
    <div class="big-container" id="particles-js">  
        <article class="article">
            <div style="width: 120px; height:auto;background-color: rgb(255, 113, 113);border-radius: 10px;">
                <h3 style="text-align: center;color: #ffffff;">宣传墙</h3>
            </div>
            <div style="width: 100%; height:auto;background-color: #ffffff;border-radius: 10px;transition:ease-in-out 0.3s;box-shadow: 0 0 10px rgba(184, 197, 214, .5);overflow: hidden;">
                <h2 style="text-align: left;color: #000000;">宣传是我们工作的重心。</h2>
                <h6 style="text-align: left;color: #000000;">（老生常谈的问题：注意文明用语，严禁色图水贴哦~（=^Δ^=））</h6>
                <p>
                    <br>
                    宣传文案在这里！<br>
                    <br>
                    格式：图片+文字描述+邮箱/联系方式/群号+tag <br>
                    <br>
                    tag: #宣传# #社团# #xxx社团# #宣传栏# #xxx宣传栏# #宣传文案#<br>
                    <br>
                    <br>
                    <br>
                </p>
            </div>
            <div id="lv-container" data-id="city" data-uid="MTAyMC81NzY3Ny8zNDE0MA==">
                <script type="text/javascript">
                (function(d, s) {
                    var j, e = d.getElementsByTagName(s)[0];
                    if (typeof LivereTower === 'function') { return; }
                    j = d.createElement(s);
                    j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
                    j.async = true;
                    e.parentNode.insertBefore(j, e);
                })(document, 'script');
                </script>
            <noscript> 为正常使用来必力评论功能请激活JavaScript</noscript>
            </div>
        </article>
    </div>
    <!--尾部-->
    <script type="text/javascript" src="../js/comcode/footer.js"></script>
    <script type="text/javascript" defer>
        // 图片懒加载
        const lazyImage = new LazyImage('.lazy-image');
    </script>
</body>
</html>