<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <script type="text/javascript" src="../js/comcode/com_head.js"></script>
    <title>WGSOC__公告</title>
    <style rel="stylesheet">.lazy-image {background: url('../img/loading.gif') no-repeat center;background-size: 26% 35%;height: 100%;width: 100%;}</style>
</head>

<body>
    <script type="text/javascript" src="../js/global_header.js"></script>
    <div id="d-audio" class="d-audio" style="width: 150px; z-index: 99; position: fixed; bottom: 5px; left: 5px;"></div>
    <!--主体-->
    <div class="big-container" id="particles-js">
        <article class="article">
        <div style="width: 120px; height:auto;background-color: rgb(222, 0, 0);border-radius: 10px;">
            <h3 style="text-align: center;color: #ffffff;">网站公告版</h3>
        </div>
        <div class="topsign-title">
            <h2 class="topsign-text">这里是网站开发记录和一些重大决议的公告版哦</h2>
            <br>
            <p>不定期更新。当前的计划：开发分页浏览功能和页面的进一步美化</p>
            <br>
            <br>
        </div>
            <div class="nb-a-holder">
                <!--公告板-->
                <script type="text/javascript" src="../js/comcode/com_web.lastsign.js"></script>            
                <script type="text/javascript" src="../js/comcode/com_web.sign.js"></script>
            </div>
        </article>
    </div>
        <!--主题-->>
        <div>
            <script>
                function getParams(key) {
                    var reg = new RegExp("(^|&)" + key + "=([^&]*)(&|$)");
                    var r = window.location.search.substr(1).match(reg);
                    if (r != null) {
                        return unescape(r[2]);
                    }
                    return null;
                };
                var mode = 1;
                if(getParams("mode") != null){mode = getParams("mode")};
                if(mode==1)document.write('<div style="padding-left: 10px;padding-right: 10px;color: rgb(0, 0, 0);z-index: 1000; width: auto; height: 40px; position: fixed; bottom: 40px; right: 17%; cursor: pointer; background-size: 100%; display: inline-block;border-radius: 20px;background-color:#000000"><a href="./web.sign.html?mode=2" style="font-size:28px">✨</a></div>')
                if(mode==2)document.write('<div style="padding-left: 10px;padding-right: 10px;color: rgb(0, 0, 0);z-index: 1000; width: auto; height: 40px; position: fixed; bottom: 40px; right: 17%; cursor: pointer; background-size: 100%; display: inline-block;border-radius: 20px;background-color:#ffffff"><a href="./web.sign.html?mode=1" style="font-size:28px">🔆</a></div>')
            </script>
        </div>
    <!--尾部-->
    <script type="text/javascript" src="../js/comcode/footer.js"></script>
    <script type="text/javascript" defer>
        //图片懒加载
        const lazyImage = new LazyImage('.lazy-image');
    </script>
</body>
</html>